### lnmp data
.lnmp-data/

### web file
www/*

### web test file
!www/public
!www/local.test

### nginx conf
nginx/sites/*

!nginx/sites/default.conf
!nginx/sites/local.test.conf
!nginx/sites/new.conf.exp